@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding: 2rem;
}

@layer base {
  :root {
    --background: 200 100% 95%;
    --foreground: 0 0% 10%;
    --card: 0 100% 98%;
    --card-foreground: 0 0% 10%;
    --popover: 60 100% 95%;
    --popover-foreground: 0 0% 10%;
    --primary: 340 100% 85%;
    --primary-foreground: 0 0% 10%;
    --secondary: 120 100% 85%;
    --secondary-foreground: 0 0% 10%;
    --muted: 0 0% 85%;
    --muted-foreground: 0 0% 50%;
    --accent: 280 100% 90%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 100% 45%;
    --destructive-foreground: 0 0% 10%;
    --border: 0 0% 80%;
    --input: 0 0% 90%;
    --ring: 200 100% 80%;
    --radius: 0.5rem;
    --chart-1: 340 100% 87%;
    --chart-2: 200 100% 90%;
    --chart-3: 120 100% 85%;
    --chart-4: 60 100% 85%;
    --chart-5: 280 100% 90%;
  }

  .dark {
    --background: 240 100% 10%;
    --foreground: 0 0% 90%;
    --card: 240 100% 15%;
    --card-foreground: 0 0% 90%;
    --popover: 240 100% 15%;
    --popover-foreground: 0 0% 90%;
    --primary: 340 100% 70%;
    --primary-foreground: 0 0% 10%;
    --secondary: 120 100% 70%;
    --secondary-foreground: 0 0% 10%;
    --muted: 0 0% 30%;
    --muted-foreground: 0 0% 70%;
    --accent: 280 100% 70%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 100% 60%;
    --destructive-foreground: 0 0% 90%;
    --border: 0 0% 40%;
    --input: 0 0% 50%;
    --ring: 200 100% 60%;
    --chart-1: 340 100% 60%;
    --chart-2: 200 100% 60%;
    --chart-3: 120 100% 60%;
    --chart-4: 60 100% 60%;
    --chart-5: 280 100% 60%;
  }
}

.link {
  @apply text-blue-600 underline hover:text-blue-700;
}

.text-2xs {
  font-size: 0.6rem; /* 10px */
  line-height: 0.9rem; /* 14px */
}
.text-3xs {
  font-size: 0.5rem; /* 8px */
  line-height: 0.9rem; /* 10px */
}
.text-4xs {
  font-size: 0.4rem; /* px */
  line-height: 0.8rem; /* px */
}
.text-5xs {
  font-size: 0.3rem; /* px */
  line-height: 0.7rem; /* px */
}
.text-10xl {
  font-size: 10rem; /* 160px */
  line-height: 1; /* 16px */
}
.text-11xl {
  font-size: 12rem; /* 192px */
  line-height: 1; /* 16px */
}
.text-12xl {
  font-size: 14rem; /* 224px */
  line-height: 1; /* 16px */
}
.text-13xl {
  font-size: 16rem; /* 256px */
  line-height: 1; /* 16px */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Clerk Modifiecations */

.cl-formButtonPrimary {
  @apply transform-none bg-primary text-xs text-background;
}

.cl-formButtonPrimary:hover,
.cl-formButtonPrimary:focus,
.cl-formButtonPrimary:active {
  @apply bg-primary/90;
}

.cl-footerActionLink {
  @apply text-primary underline;
}
.cl-footerActionLink:hover,
.cl-footerActionLink:focus,
.cl-footerActionLink:active {
  @apply text-primary/80;
}

.cl-socialButtonsBlockButton {
  @apply bg-primary/10 text-foreground;
}

.cl-internal-b3fm6y {
  @apply bg-secondary text-foreground;
}

/* Hide spinner controls in Chrome, Safari, Edge, and Opera */
.hide-spinner::-webkit-outer-spin-button,
.hide-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spinner controls in Firefox */
.hide-spinner[type="number"] {
  -moz-appearance: textfield;
}
